@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto:wght@300&display=swap');
.header {
  display: flex;
  justify-content: space-between;
  background-color: #202020;
  padding-bottom: 5px;;
}
.header__left {
  display: flex;
  align-items: center;
  color: whitesmoke;
}

.header__left h4 {
  font-size: 1em;
  font-family: 'Fjalla One', sans-serif;
  cursor: pointer;
}

.header__leftMenu  {
  color: whitesmoke;
}
.header__leftYoutube {
  color: red;
}
.header__middle {
  display: flex;
  align-items: center;
  width: 600px;
}

.header__middle input {
  background: #121212;
  color: whitesmoke;
  padding: 7px;
  width: 90%;
  border-radius:2%;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
}

.header__middle div {
  background-color: #5a5a5a;
  width: 60px;
  height: 37px;
  display: flex;
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;

  align-items: center;
}
.header__middleSearch {
  font-size: 1.5em;
  color: whitesmoke;
  margin: 0 auto;
  cursor: pointer;
}
.middleMic__border {
  text-align: center;
  background: #181818;
  border-radius: 100%;
}

.header__middleMic {
  font-size: 1em;
  color: whitesmoke;
  cursor: pointer;
  margin: 0 auto;
  background: #181818;
  border-radius: 50%;

}

.header__right {
  display: flex;
  align-items: center;
  color: #3ea6ff;
  margin-right: 10px;
}

.header__rightSignin {
  display: flex;
  align-items: center;
  border:#3ea6ff 1px solid;
  padding: 5px 12px;
  font-size: 12px;
  font-weight: bolder;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}

.header_rightSigninAccount {
 margin-right: 10px;
}

.whitesmoke {
  color: whitesmoke;
}